{% extends 'base_h.html' %}


{% block title %} Main page {% endblock %}

{% block body %}
<div id="container-content" class="container mx-auto p-8 flex items-center h-full">
    <form method="POST" class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
        {% csrf_token %}
        <div class="mb-4">
            <label for="name" class="block text-gray-700 text-sm font-bold mb-2">your name</label>
            <input type="text" id="name" name="name" class="w-full border border-gray-300 p-2 rounded focus:outline-none focus:ring focus:border-blue-300" placeholder="name" required>
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Social network:</label>
            <div class="flex space-x-4">
                <label for="facebook" class="flex items-center">
                    <input type="checkbox" id="facebook" name="social_media" value="facebook">
                    <span class="ml-2">Facebook</span>
                </label>
                <label for="twitter" class="flex items-center">
                    <input type="checkbox" id="twitter" name="social_media" value="twitter">
                    <span class="ml-2">Threads</span>
                </label>
                <label for="instagram" class="flex items-center">
                    <input type="checkbox" id="instagram" name="social_media" value="instagram">
                    <span class="ml-2">Instagram</span>
                </label>
                <label for="instagram" class="flex items-center">
                    <input type="checkbox" id="instagram" name="social_media" value="instagram">
                    <span class="ml-2">Reddit</span>
                </label>
            </div>
        </div>

        <div class="mb-4">
            <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">Done</button>
        </div>
    </form>
</div>
{% endblock %}